.projects {
  height: 100vh;
  width: 100%;
  display: block;
  text-align: center;
  /* background: #388087; */
}
.s1{
	overflow: auto;
}
.main_container{
	width: 1200px;
	margin: 0 auto;
}
.projectstitle {
  margin: 40px 50px;
  font-size: 22px;
  color: var(--deepGreen);
  font-weight: bold;
}
.postwrapper{
	display: grid;
	grid-template-columns: repeat(auto-fit, 320px);
	gap: 20px;
	justify-content: center;
	padding-bottom: 50px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
@media (max-width: 1200px){
	.main_container{
	width: 95%;
    }
}
